
body {
  font-family: Arial, serif;
  color: #343a40;
  font-size: 22px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 40px;
  font-size: 48px;
}

form{
  text-align: left;
}

p {
  margin-top: 80px;
}

button {
  margin-top: 40px;
}

#one{
  text-align: right;
  margin-right:10px;
}

.page-header {
  background-color: #00bda5;
  padding-top: 40px;
  padding-bottom: 80px;
  color: #ffffff;
}

#image img {
  height: 200px;
  margin-top: 60px;
}

label {
  display:inline-block;
  width:200px;
  margin-right:10px;
  text-align:left;
}
  
input {
  
}
  
fieldset {
  border:none;
  text-align:left;
  width:auto;
  margin:auto;
}

/* CSS Tutorial in Resources section */