<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
      <% include ../helpers/navbar %>
    <h1>Debug Diary</h1>
  </div>

  <div id="one">
    <button onClick="handleSignIn()">Login</button>
  </div>
  
  <table id="tbl_id">
      <thead>
          <tr>
              <th>Error Code</th>
              <th>Error Description</th>
              <th>Solution</th>
          </tr>
      </thead>
  </table>

  <form onSubmit="handleMessageFormSubmit()" action="#"><br>
    <!-- Error Code:<input type="text "id="post-title"><br>
    Error Description:<textarea id="post-body"></textarea><br> -->
    <fieldset>
        <label for="txtErrorDescription">Error Description:</label><input id="post-diary-error-code" type="text" name="txtErrorDescription" size="20"><br>
        <label for="txtErrorCode">Error code:</label><input id="post-diary-error-description" type="text" name="txtErrorCode" size="20"><br>
        <label for="txtSolution">Solution:</label><input id="post-diary-solution" type="text" name="txtSolution" size="20"><br>
        <button>Submit</button>
    </fieldset>
  </form>

  <div id="post-listing"></div>

</body>

</html>