<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
      <% include ../helpers/navbar %>
    <h1>!Debug Diary!</h1>
  </div>

  <button onClick="handleSignIn()">Login</button>
  
  <form onSubmit="handleMessageFormSubmit()" action="#">
    Title:<input id="post-title"><br>
    Body: <textarea id="post-body"></textarea><br> <!-- so you can grab value later using jQuery-->
    <button>Submit</button>
  </form>

  <div id="post-listing"></div>

</body>

</html>